.app {
	width: 80vw;
	margin: 0 auto;
}

/* Logout Button styling and animation */
.logoutButton {
	transition-duration: 0.3s;
	width: 48px;
}
.logoutButton:hover {
	transition-duration: 0.3s;
	width: 101px;
}

.logoutButton:hover .logoutIcon {
	transition-duration: 0.3s;
}
/* hover effect button's text */
.logoutButton:hover .logoutText {
	visibility: visible;
	opacity: 1;
	width: 70%;
	transition-duration: 0.3s;
	padding-left: 7px;
}
/* button click effect*/
.logoutButton:active {
	transform: translate(2px, 2px);
}

.logoutIcon {
	transition-duration: 0.3s;
}

.logoutText {
	visibility: hidden;
	opacity: 0;
	width: 0;
	transition-duration: 0.3s;
}

.recipeWrapper {
	display: grid;
	align-content: center;
	/* height: 88vh; */
	margin: 0 0 3rem 0;
}

.dropdownOfferWrapper {
	display: flex;
	gap: 2rem;
}

.RecipeButtonWrapper {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
}

.recipeButton {
	margin: 5rem 0 2rem 0;
}

.addIngredientWrapper {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 1rem;
}

.authWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.breadCrumb {
	position: absolute;
	top: 110px;
	left: 15px;
}

.recipeLoadingSpinner {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tableLoadingSpinner {
	position: absolute;
	top: 50%;
	left: 50%;
}

.recipeAccWrapper {
	display: grid;
	grid-template-columns: 30fr 1fr;
	gap: 1rem;
}

.exploreRecipes {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 1rem;
	grid-template-rows: auto auto auto;
}
