.app {
	width: 80vw;
	margin: 0 auto;
}

.recipeWrapper {
	display: grid;
	align-content: center;
	/* height: 88vh; */
	margin: 0 0 3rem 0;
}

.dropdownOfferWrapper {
	display: flex;
	gap: 2rem;
}

.addRecipeWrapper {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
}

.addRecipeButton {
	margin: 5rem 0 2rem 0;
}

.addIngredientWrapper {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 1rem;
}

.authWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.breadCrumb {
	position: absolute;
	top: 110px;
	left: 15px;
}

.loadingSpinner {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
